<head>
<link rel="stylesheet" href="/style.css" />
<head/>
<pic> "https://attachment.outlook.live.net/owa/krystal.lek@live.com/service.svc/s/GetAttachmentThumbnail?id=AQMkADAwATM0MDAAMS1iYgAwMS1kNGIzLTAwAi0wMAoARgAAA5LEmFU8QbtErItS3VwP8dMHAHmx7WQHfe5Got%2Fvv6buRVsAAAIBDAAAAHmx7WQHfe5Got%2Fvv6buRVsAAb9q564AAAABEgAQANG8zXslek1OqRK5n9PMXWI%3D&thumbnailType=2&X-OWA-CANARY=rfA9fW_-ZESWhFeK6Bvn3qCp4d2mo9UY89SWJpKg4ZRVLWe2PJI3ouKzBsDJ36btX7L_48JQLiQ.&token=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkJnRDU5blJpQnpmbk5BVGloOFJhZ1l5M3pyZyJ9.eyJ2ZXIiOiJFeGNoYW5nZS5DYWxsYmFjay5WMSIsImFwcGN0eHNlbmRlciI6Ik93YURvd25sb2FkQDg0ZGY5ZTdmLWU5ZjYtNDBhZi1iNDM1LWFhYWFhYWFhYWFhYSIsImFwcGN0eCI6IntcIm1zZXhjaHByb3RcIjpcIm93YVwiLFwicHJpbWFyeXNpZFwiOlwiUy0xLTI4MjctMjEyOTkzLTMxMzc0NTkzNzlcIixcInB1aWRcIjpcIjkxNDgwMTEwNjczNjMwN1wiLFwib2lkXCI6XCIwMDAzNDAwMS1iYjAxLWQ0YjMtMDAwMC0wMDAwMDAwMDAwMDBcIixcInNjb3BlXCI6XCJPd2FEb3dubG9hZFwifSIsImlzcyI6IjAwMDAwMDAyLTAwMDAtMGZmMS1jZTAwLTAwMDAwMDAwMDAwMEA4NGRmOWU3Zi1lOWY2LTQwYWYtYjQzNS1hYWFhYWFhYWFhYWEiLCJhdWQiOiIwMDAwMDAwMi0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvYXR0YWNobWVudC5vdXRsb29rLmxpdmUubmV0QDg0ZGY5ZTdmLWU5ZjYtNDBhZi1iNDM1LWFhYWFhYWFhYWFhYSIsImV4cCI6MTUyMzg4OTczOCwibmJmIjoxNTIzODg5MTM4fQ.Y3ZNOoUZw9bptktiVH6SpjxjBufn3xf6qp43KL73eXA3vsAimXGw5WLcN1Jd9zlGBxadH_V6AZMeJ6dvvtTlLexQMAF_2EoW6BHE1gCNwgnrqw7J-yM-VoUGSiaK7boyLHU1cL9Ytj_mtPT7uN_wbPmWY657_L9dCWRJEBZN4QcV0mMiRlm0HuphbdW8-NJdYrRzN5RKMtqoqEg-Z0dT_6y-NL6A9KkgBqoayZmvxeTyKkm-tEgr7GypmZB_KWjZfRxJb3Hr93KPPk2TqM7RZ-110uZi8nB0LxjdmseDNtMVNRwXQgZJx6qPZZRnCR-Z0FLkImWsndqNRnfm71zRWA&owa=outlook.live.com&isc=1" <pic/>
h1{
  font-family: Serif;
  color: violet;
}
 h2{
  font-family: Arial;
  color: Magenta;
}
p{
 font-family: verdana;
}
body {
    background-color: turquoise
     
}
