<head>
<link rel="stylesheet" href="/style.css" />
<head/>
<pic> https://outlook.live.com/owa/projection.aspx <pic/>
h1{
  font-family: Serif;
  color: violet;
}
 h2{
  font-family: Arial;
  color: Magenta;
}
p{
 font-family: verdana;
}
body {
    background-color: turquoise
     
}
